In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [23]:
df = pd.read_csv("PCardTransactions15-16.csv")

In [3]:
df.tail()

,Service Area,Account Description,Creditor,Journal Date,Journal Reference,Total
3860,Children's Family Services,Food Costs,ZAHRA NEWSAGENT,17/11/2015,6042.0,3.5
3861,Children's Family Services,Food Costs,ZAHRA NEWSAGENT,20/01/2016,6751.0,4.5
3862,Children's Family Services,Food Costs,ZAHRA NEWSAGENT,21/03/2016,7535.0,4.5
3863,Children's Family Services,Food Costs,ZAHRA NEWSAGENT,31/03/2016,7639.0,4.5
3864,NaN,NaN,NaN,NaN,NaN,"381,012.77"

In [8]:
len(pd.unique(df.iloc[:,1]))

51

In [9]:
pd.unique(df.iloc[:,1])

array(['Miscellaneous Expenses', 'E19 - Learning Resources',
       'Equipment and Materials Purcha', 'Subsistence',
       'Other Transfer Payments to Soc', 'Travelling Expenses',
       'Building Repairs & Maintenance', 'Training',
       'Professional Services', 'Other Services',
       'Software Licences & Support', 'Other Agencies - Third Party P',
       'Equipment and Materials Repair', 'Water Services', 'Stationery',
       'Books-CDs-Audio-Video', 'Education CFR Administrative S',
       'Education CFR Other Occupation', 'Publications',
       'E25 - Catering Supplies', 'Consumable Catering Supplies',
       'Cleaning and domestic material', 'Food Costs',
       'Hardware Purchases', 'General Office Expenses', 'Subscriptions',
       'Conference Expenses', 'Operating Leases - Transport',
       'Vehicle Running Costs', 'Telephones Calls',
       'Other Indirect Employee Expens', 'Other Establishments - Third P',
       'Electricity', 'Advertising', "Employer's National Insurance ",
       'Pool Transport Charges', 'Legal and Court Fees', 'Counsels Fees',
       'Fees and Charges', 'Clothing - Protective Clothing', 'Postage',
       'Grant Payments', 'IT Services', 'Private Contractors - Third Pa',
       'Transport Hire Charges', 'Venue Hire', 'Printing-Contract',
       'Grounds maintenance', 'Other Vehicle Costs',
       'Furniture-Purchase-Repair', nan], dtype=object)

In [25]:
df['category'] = ""

In [24]:
df.head()

,Service Area,Account Description,Creditor,Journal Date,Journal Reference,Total
0,Assurance,Miscellaneous Expenses,43033820 COSTA COFFEE,18/08/2015,5043.0,2
1,Children's Family Services,Miscellaneous Expenses,99 PLUS DISCOUNT MART,08/06/2015,4184.0,29.97
2,Children's Family Services,E19 - Learning Resources,99P STORES LTD,07/12/2015,6278.0,34.65
3,Children's Family Services,Equipment and Materials Purcha,99P STORES LTD,18/08/2015,5041.0,10.72
4,Children's Family Services,Subsistence,CHOPSTIX00000000000,21/05/2015,5750.0,33.7

In [22]:
def classify_transaction(row):
    description = row['Account Description']
    if "Expenses" in  description:
        return "Expenses"
    elif "Purchases" in description:
        return "Revenue"
    elif "Costs" in description: 
        return "Expenses"
    else:
        return "Others"

In [26]:
df = df.dropna(subset=['Account Description'])

In [27]:
df['category'] = df.apply(classify_transaction, axis=1)

In [28]:
df.head()

,Service Area,Account Description,Creditor,Journal Date,Journal Reference,Total,category
0,Assurance,Miscellaneous Expenses,43033820 COSTA COFFEE,18/08/2015,5043.0,2,Expenses
1,Children's Family Services,Miscellaneous Expenses,99 PLUS DISCOUNT MART,08/06/2015,4184.0,29.97,Expenses
2,Children's Family Services,E19 - Learning Resources,99P STORES LTD,07/12/2015,6278.0,34.65,Others
3,Children's Family Services,Equipment and Materials Purcha,99P STORES LTD,18/08/2015,5041.0,10.72,Others
4,Children's Family Services,Subsistence,CHOPSTIX00000000000,21/05/2015,5750.0,33.7,Others

In [30]:
df['category'] = pd.Categorical(df.category)

In [31]:
df.dtypes

Service Area             object
Account Description      object
Creditor                 object
Journal Date             object
Journal Reference       float64
Total                    object
category               category
dtype: object